@import url("https://fonts.googleapis.com/css2?family=Abel&family=Montserrat+Alternates:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&family=Teko:wght@300;400;500;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  color: #2d3748;
}

.first-sec .first-main {
  width: 100%;
  margin: 0;
  position: relative;
}
.first-sec .first-main .img-container {
  background-image: url("../images/bg1.jpg");
  background-position: 48% 38%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-sec .first-main .img-container .heading {
  position: relative;
  z-index: 1;
  text-align: center;
}
.first-sec .first-main .img-container .heading h2 {
  font-size: 75px;
  text-transform: uppercase;
  font-family: "Teko", sans-serif;
  line-height: 60px;
}
.first-sec .first-main .img-container .heading h4 {
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Teko", sans-serif;
  font-weight: 300;
}
.first-sec .first-main .overlay-box {
  filter: opacity(100%);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  opacity: 0.6;
  background-color: white;
}

.second-section {
  padding: 20px;
}
.second-section .sec-main {
  box-shadow: 0px 0px 6px 6px rgb(192, 192, 192);
  max-width: 1100px;
  margin: 0 auto;
  margin-top: -50px;
  margin-bottom: 30px;
  padding: 20px;
  z-index: 10;
  position: relative;
  background-color: white;
}
.second-section .sec-main .sec-detail {
  width: 100%;
  margin: 0;
}
.second-section .sec-main .sec-detail .sample-box {
  display: flex;
  background-color: #f5dbdc;
  padding: 6px;
  justify-content: space-around;
  padding: 10px;
}
.second-section .sec-main .sec-detail .sample-box .left-box {
  display: flex;
  align-items: center;
}
.second-section .sec-main .sec-detail .sample-box .left-box .sample-heading {
  display: flex;
  align-items: center;
}
.second-section .sec-main .sec-detail .sample-box .left-box .sample-heading svg {
  width: 2em;
  height: 2em;
  margin-right: 4px;
  background: black;
  color: white;
  padding: 8px;
  border-radius: 4px;
}
.second-section .sec-main .sec-detail .sample-box .left-box .sample-heading p {
  font-size: 20px;
  margin-bottom: 0;
}
.second-section .sec-main .sec-detail .sample-box .right-box a {
  background-color: black;
  border-radius: 6px;
  padding: 6px 10px;
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
}
.second-section .sec-main .sec-detail .sample-box .right-box a svg {
  width: 1em;
  height: 1em;
  margin-bottom: 5px;
}
.second-section .sec-main .sec-heading h4 {
  text-transform: uppercase;
  text-align: center;
  margin: 2em 0 0.8em;
  font-size: 24px;
  line-height: 1.5;
}
.second-section .sec-main .main-map {
  margin-bottom: 40px;
}
.second-section .sec-main .shop-and-map {
  background-color: #fdf8f8;
  width: 100%;
  margin: 0;
  padding: 20px;
  margin-bottom: 40px;
}
.second-section .sec-main .shop-and-map .shop-box {
  text-align: center;
  padding: 20px;
  border: 1px solid #e7cacf;
}
.second-section .sec-main .shop-and-map .shop-box .shop-img img {
  width: 150px;
}
.second-section .sec-main .shop-and-map .shop-box h2 {
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2em;
}
.second-section .sec-main .shop-and-map .shop-box .contact-info .info-details {
  text-align: center;
  color: #555555;
  margin-bottom: 30px;
}
.second-section .sec-main .shop-and-map .shop-box .contact-info .info-details a {
  color: #8ca9cb;
  transition: all 0.1s linear;
}
.second-section .sec-main .shop-and-map .shop-box .contact-info .info-details a:hover {
  color: #e7cacf;
}
.second-section .sec-main .shop-and-map .shop-box .shop-now a {
  padding: 0.4em 1em;
  border-radius: 2px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 3px 0px rgba(10, 10, 10, 0.25);
  background-color: #e7cacf;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.6;
}
.second-section .sec-main .shop-and-map .shop-box .shop-now a svg {
  width: 1em;
  height: 1em;
}
.second-section .sec-main .shop-and-map .shop-box .shop-now a:hover {
  background-color: #8ca9cb;
}
.second-section .sec-main .shop-and-map .cilia-box {
  margin: 0 auto;
}

.third-section .third-main {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
  z-index: 10;
  position: relative;
  background-color: white;
}
.third-section .third-main .view-download {
  width: 100%;
  margin: 0;
  background-color: #f8eff1;
}
.third-section .third-main .view-download .disp-cen {
  display: flex;
  align-items: center;
}
.third-section .third-main .view-download .view-content {
  padding: 20px 10px;
}
.third-section .third-main .view-download .view-content h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 1.5em 0 0.5em;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.2em;
}
.third-section .third-main .view-download .view-content p {
  margin-bottom: 2rem;
  text-align: left;
  color: #2d3748;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 1.6;
}
.third-section .third-main .view-download .view-content .download-btn {
  text-align: center;
}
.third-section .third-main .view-download .view-content .download-btn a {
  cursor: pointer;
  font-size: 1.125rem;
  box-shadow: 2px 2px 3px 0px rgba(10, 10, 10, 0.25);
  background: linear-gradient(180deg, white 0%, #8ca9cb 100%);
  padding: 0.4em 1em;
  transition: all 0.3s ease-in-out;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
.third-section .third-main .view-download .view-content .download-btn a svg {
  width: 1em;
  height: 1em;
}
.third-section .third-main .view-download .view-content .download-btn a:hover {
  background: linear-gradient(180deg, #f5dbdc 0%, #e7cacf 100%);
}
.third-section .third-main .view-download .lamination-img {
  padding: 20px 0;
}
.third-section .third-main .view-download .lamination-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 1150px) {
  .second-section .sec-main .sec-detail .sample-box .left-box .sample-heading p {
    font-size: 16px;
    line-height: 1em;
  }
  .second-section .sec-main .sec-detail .sample-box .right-box a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  .second-section .sec-main .sec-heading h4 {
    font-size: 18px;
  }
  .first-sec .first-main .img-container .heading h2 {
    padding: 0;
    font-size: 40px;
    line-height: 42px;
  }
  .first-sec .first-main .img-container .heading h4 {
    font-size: 24px;
    line-height: 28px;
  }
  .second-section .sec-main .sec-detail .sample-box {
    display: block;
  }
  .second-section .sec-main .sec-detail .sample-box .left-box {
    margin-bottom: 6px;
  }
  .second-section .sec-main .sec-detail .sample-box .right-box {
    text-align: center;
  }
  .second-section .sec-main .shop-and-map {
    gap: 2rem;
  }
  .reverse-col {
    flex-direction: column-reverse;
  }
  .third-section .third-main .view-download .view-content h2 {
    font-size: 28px;
    line-height: 1.4em;
    margin: 1rem 0 0.5em;
  }
}
@media only screen and (max-width: 550px) {
  .second-section .sec-main .sec-detail .sample-box .left-box .sample-heading svg {
    padding: 4px;
  }
  .second-section .sec-main .sec-detail .sample-box {
    padding: 14px;
  }
  .second-section .sec-main {
    padding: 10px;
  }
  .second-section .sec-main .sec-detail .sample-box .left-box {
    margin-bottom: 10px;
  }
  .second-section .sec-main .sec-heading h4 {
    font-size: 16px;
  }
  .second-section .sec-main .shop-and-map {
    padding: 0;
  }
  .second-section .sec-main .shop-and-map .shop-box {
    margin-top: 20px;
    padding: 0;
    padding-bottom: 30px;
    padding-top: 20px;
  }
  .second-section .sec-main .shop-and-map .shop-box h2 {
    font-size: 22px;
  }
}/*# sourceMappingURL=dist.css.map */